#DesignPara
{
	color:white;
	font-weight:bolder;
	font-size:30px;	
	padding:10px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara1
{
	color:white;
	font-weight:bolder;
	font-size:30px;	
	padding:10px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara2
{
	color:white;
	font-weight:bolder;
	font-size:30px;	
	padding:10px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}