#DesignPara
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara1
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara2
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara3
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara4
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara5
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}

#DesignPara6
{
	color:white;
	font-weight:bolder;
	font-size:20px;	
	padding:40px;
	border-color:black;
	border-radius:40px;
	font-family:"Lucida Sans";
}
